<div class="menu-container">
  <ul class="menu">
    <li><a class="button" href="#">我的咨询记录</a></li>
    <li><a class="<%= request.path == member_url(@user.name)? "active":"main" %>" href="<%=member_url(@user.name) %>">历史咨询记录</a></li>
    <li><a class="<%= request.path == "/createmyfaq"? "active":"faq" %>" href="/createmyfaq">发起新的咨询</a></li>
    <li><a class="button" href="#">我的病历管理</a></li>
    <li><a class="<%= request.path == "/showmyinfo"? "active":"faq" %>" href="/showmyinfo">个人基本情况</a></li>
    <li><a class="<%= request.path == "/showmyhyper"? "active":"faq" %>" href="/showmyhyper">高血压史</a></li>
    <li><a class="<%= request.path == "/showmydiabetes"? "active":"faq" %>" href="/showmydiabetes">糖尿病史</a></li>
    <li><a class="<%= request.path == "/showmyhyperlipidemia"? "active":"faq" %>" href="/showmyhyperlipidemia">高脂血史</a></li>
    <li><a class="<%= request.path == "/editmyoper"? "active":"faq" %>" href="/editmyoper">重大手术及外伤史</a></li>
    <li><a class="<%= request.path == "/editmysick"? "active":"faq" %>" href="/editmysick">病历上传/病历查看</a></li>
  </ul>
</div>
