<div class="menu-container">
  <ul class="menu">
    <li><a class="button" href="#">我的咨询记录</a></li>
    <li><a class="<%= request.path == member_url(@user.name)? "active":"main" %>" href="<%=member_url(@user.name) %>">全部咨询</a></li>
    <li><a class="<%= request.path == (member_url(@user.name)+'#watched-courses')? "team":"team" %>" href="<%= member_url(@user.name)+'#watched-courses' %>">已答复的咨询</a></li>
    <li><a class="<%= request.path == (member_url(@user.name)+'#paid-courses')? "active":"team" %>" href="<%= member_url(@user.name)+'#paid-courses' %>">未答复的咨询</a></li>
    <li><a class="button" href="#">我的病历管理</a></li>
    <li><a class="<%= request.path == "/showmyinfo"? "active":"faq" %>" href="/showmyinfo">个人基本情况</a></li>
    <li><a class="<%= request.path == "/showmyhyper"? "active":"faq" %>" href="/showmyhyper">高血压史</a></li>
    <li><a class="<%= request.path == "/showmydiabetes"? "active":"faq" %>" href="/showmydiabetes">糖尿病史</a></li>
    <li><a class="<%= request.path == "/showmyhyperlipidemia"? "active":"faq" %>" href="/showmyhyperlipidemia">高脂血史</a></li>
    <li><a class="<%= request.path == "/editmysick"? "active":"faq" %>" href="/editmysick">病历上传</a></li>
    <li><a class="button" href="#">我要咨询</a></li>
    <li><a class="<%= request.path == "/explore_doctor"? "active":"faq" %>" href="/explore_doctor">医生查询</a></li>
    <li><a class="<%= request.path == "/createmyfaq"? "active":"faq" %>" href="/createmyfaq">发起咨询</a></li>
    <li><a class="<%= request.path == "/sick_case"? "active":"faq" %>" href="/sick_case">查看相关咨询</a></li>
    <li><a class="button" href="#">我的私人医生</a></li>
    <li><a class="<%= request.path == "/showmyinfo3"? "active":"faq" %>" href="#">我的医生</a></li>
  </ul>
</div>
