<div class="course-list clearfix">
  <div class="user-course-header">
    <i class="fa fa-clock-o"></i>
    <span class="date"><%= basic_case.created_at.strftime("%B %d, %Y") %></span>
    <div class="action">
      <% if owner?(basic_case) %>
        <%= link_to '/'+basic_case.user.name+'/'+basic_case.id.to_s+'/showcase' do %>
	 <%#= link_to "javascript:;" do %>
          <%#= t('edit_course') %>
          <!--编辑功能暂不开放-->
        <% end %>
      <% end %>
    </div>
  </div>
    <%#= link_to '/'+basic_case.user.name+'/'+basic_case.id.to_s+'/editcase' do %>
    <%#= image_tag sick_case.poster_url %>
  <%# end %> 
  <div class="meta">
    <div>
      <span class="title"><%= link_to basic_case.main_desc, show_basic_case_path(basic_case.user.name,basic_case) %></span>
      <% if !basic_case.edited %>
        <span class="lock"><i class="fa fa-lock fa-lg"></i></span>
      <% end %>
    </div>
    <div class="desc">
      <%= basic_case.detail_desc %>
    </div>
    <div class="details">
      <i class="fa fa-video-camera"></i><span class="tip">附件: <%= basic_case.sick_assets.count %></span>
    </div>
    <div class="details">
    </div>

 <div class="details">
      <i class="fa fa-user"></i><span class="tip">咨询医生: <%= link_to basic_case.user.name, member_path(basic_case.user.name) %></span>
    </div>

  </div>
  <%= link_to "编辑咨询", edit_basic_case_path(basic_case.user.name,basic_case), :class => "course-button" %>
  <%= link_to "咨询其他医生", clone_basic_case_path(basic_case.user.name,basic_case),:method=>"post", :class => "course-button" %>
</div>
