<script>
  jQuery(function($) {
    var updateVideoForm;
    updateVideoForm = $("form#update-video-uploader");
    if (updateVideoForm.length > 0) {
      updateVideoForm.QiniuUploader({
        autoUpload: true,
        removeProgressBarWhenCompleted: true,
        onFilesAdd: function(file) {
          types = /(\.|\/)(jpg|png|mov|mp4)$/i;
          if (types.test(file.type) || types.test(file.name)) {
            if (file.size > 100000000) {
              alert("上传失败：" + file.name + " 检查资料太大，超过100M");
              return false;
            } else {
              return true;
            }
          } else {
            alert("上传失败：" + file.name + " 检查资料格式错误，请上传mov或mp4文件");
            return false;
          }
        }
      });
      updateVideoForm.bind("qiniu_upload_start", function(e) {
        $('#submit_sick_asset_info').attr('value', '检查资料正在上传');
        $('#submit_sick_asset_info').attr('disabled', 'true');
        $('a.fileupload-btn').bind('click', false);
      });
      updateVideoForm.bind("qiniu_upload_complete", function(e, data) {
        $('#submit_sick_asset_info').attr('value', '保存上述信息');
        $('#submit_sick_asset_info').removeAttr('disabled');
        $('#progress-text').html("检查资料上传成功！");
        $('#video-filename').html("检查资料文件名： " + "<strong>" + data.fname + "</strong>");
      });
    }
$('input#submit_sick_asset_info1').click(function(){
	$('form.edit_sick_asset').submit();
});
  });
</script>
<div class="add-video-box clearfix">
  <div class="primary-info">
    <%= form_for(sick_asset,:remote =>true) do |f| %>
      <dl class="form">
        <dt>
          <%= f.hidden_field :id %>
          <%= f.label '检查资料标题' %>&nbsp;&nbsp;&nbsp;&nbsp;如：一次冠心病检查
        </dt>
        <dd><%= f.text_field :title, id: "video-title" %></dd>
      </dl>
      <dl class="form">
        <dt><%= f.label '选择检查资料类型' %></dt>
        <dd>
          <%= f.select(:asset_type, options_for_select([['影相科(CT)相关检查', 'CT'],['实验室相关检查', 'exper'],['心电图相关检查','heart']],sick_asset.asset_type), {}, { :class => 'supershort'} ) %>  
        </dd>
      </dl>
      <dl class="form">
        <dt><label>更新本检查资料</label></dt>
       <dl>
    <% end %>
  </div>
  <div class="secondary-info">
    <p id="video-filename">查看文件: <a href="#" onClick="window.open('<%= sick_asset.asset.nil? ? "#":"http://"+Settings.qiniu.bucket_domain+"/"+sick_asset.asset %>','newwindow','height=500,width=611,scrollbars=yes,status=yes,screenX=400,screenY=400')" ><%= sick_asset.filename %></a></p>
    <%= qiniu_video_uploader_form callback_url: "/update_sick_asset/#{sick_asset.id}",
      callback_method: 'PATCH',
      bucket:        "#{Settings.qiniu.bucket}",
      id:            'update-video-uploader',
      progress_bar_id: 'progress-bar' do %>

        <input id="fileupload" name="file" type="file">
      <div class="bar" id="progress-bar"></div>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress">
          <span id="progress-text">检查资料正在上传...</span>
          <div class="bar" style="width: 0%"></div>
        </div>
      </div>
    </script>
  <div class="third-info">
</div>
      <div class="video-button-group">
<input class="button primary" data-disable-with="检查资料保存中..." id="submit_sick_asset_info1" name="commit" type="submit" value="保存检查资料信息">
  <div class="video-delete-btn">
    <%= link_to "删除本检查资料", sick_asset, :method => "delete", :remote=> true, class: "danger minibutton",
      :confirm => t('confirm_delete') %>
  </div>
      </div>
  <div class="info-message"></div>
</div>
  </div>
<script>
