
<div class="single-form-container" style="margin-left: 50px;">
  <div class="boxed-group" id="login">
    <h3>医生查找</h3>
    <div class="boxed-group-inner">
	<%= form_tag("/search_doctor", method: "post") do %>
        <dl class="form">
          <dt>
          <%= label_tag '按科室查询' %>
          </dt>
          <dd>
          <%= select_tag(:room,'<option value="xin1" >心血管</option><option value="xin2" >无</option>'.html_safe ) %>  
          </dd>
        </dl>
	<div id="display_hyper">
        <dl class="form">
          <dt>
          <%= label_tag '最高血压（高压/低压）' %>
          </dt>
          <dd>
          <%= text_field_tag  'before_high', nil,class: "supershort", placeholder: "请输入2-3位数字" %>
           </dd>
        </dl>
	<p style="height: 10px;" ></p>
        <p> <%=submit_tag '保存', :class => "button primary" %> </p>
      <% end %>
    </div>
  </div>
</div>
