<% content_for :template_js do %>
  <script>
$('#commit_faq').change(function() {
  var str = $("#commit_faq option:selected").text();
  $("#main_commit").text(str);
  document.getElementById("basic_case_id").value= $("#commit_faq option:selected").val();	
  document.getElementById("basic_case_process").value= $("#commit_faq option:selected").val();	
});
  $(".toggle label").click(function() {
      var token = $(".toggle label i").hasClass("fa-lock");
      var lock = '<i class="fa fa-lock"> 不公开病例</i>';
      var unlock = '<i class="fa fa-unlock-alt"> 公开病历</i>';
      if (token) {
        $(".toggle label i").replaceWith(unlock);
        document.getElementById("basic_case_public").value= true
      }else{
        $(".toggle label i").replaceWith(lock);
        document.getElementById("basic_case_public").value= false
      }
    });

</script>
<% end %>
<div class="container">
  <div class="order-container" style="margin-left: 0px;">
    <h3 class="order-title"> 订单信息 </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>医生姓名</th> <!-- Subject -->
          <th>价格</th>
          <th>咨询主题</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @doctor.name %></td>
          <td>￥<%= (@price.nil? or @price.blank?) ? 0 : @price %> 元</td>
          <td><div id="main_commit" ><%= @basic_case.main_desc %></div></td>
        </tr>
        </tr>
      </tbody>
    </table>
	<p style="height: 30px;" ></p>
        <div class="item ui toggle checkbox">
          <label for="course_public">
              <i class="fa fa-unlock-alt"> 公开病历</i>
          </label>
        </div>

	<p style="height: 10px;" ></p>
  <%= link_to '浏览咨询详情', show_commit_case_path(@basic_case.user.name,@basic_case), class: "minibutton danger" %>
	<p style="height: 10px;" ></p>



 	<% if @commit_status == 'love' %>
    <div class="payment-form" style="margin-top: 70px;">
      <%= form_tag "/checkfree" do %>
        <%= hidden_field_tag :basic_case_process, @basic_case.id %>
        <%= hidden_field_tag :doctor_id, @doctor.id %>
        <%= hidden_field_tag :basic_case_public, @basic_case.public %>
        <%= submit_tag '免费咨询(公开咨询)', :class => "button danger large right" %>
      <% end %>
    </div>
 	<% else %>
   <div class="payment-form">
      <%= form_tag "/checkout" do %>
        <%= hidden_field_tag :basic_case_id, @basic_case.id %>
        <%= hidden_field_tag :doctor_id, @doctor.id %>
        <%= hidden_field_tag :commit_status, @commit_status %>
        <%= hidden_field_tag :basic_case_public, @basic_case.public %>
        <%= submit_tag t('checkout'), :class => "button primary large right" %>
      <% end %>
    </div>
   <p style="height: 40px;" ></p> 
     <div id="msg-checkout">温馨提示：您是我们的友好用户，2016年1月前不收取咨询费用，您直接提交即可</div>
      <% end %>
    </div>
  </div>
</div>




