<% content_for :template_js do %>
  <script>
$('#commit_faq').change(function() {
  var str = $("#commit_faq option:selected").text();
  $("#main_commit").text(str);
  document.getElementById("basic_case_id").value= $("#commit_faq option:selected").val();	
  document.getElementById("basic_case_process").value= $("#commit_faq option:selected").val();	
});
  $(".toggle label").click(function() {
      var token = $(".toggle label i").hasClass("fa-lock");
      var lock = '<i class="fa fa-lock"> 不公开病例</i>';
      var unlock = '<i class="fa fa-unlock-alt"> 公开病历</i>';
      if (token) {
        $(".toggle label i").replaceWith(unlock);
        document.getElementById("basic_case_public").value= true
      }else{
        $(".toggle label i").replaceWith(lock);
        document.getElementById("basic_case_public").value= false
      }
    });

</script>
<% end %>
<div class="container">
  <div class="order-container" style="margin-left: 0px;">
    <h3 class="order-title"> 订单信息 </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>医生姓名</th> <!-- Subject -->
          <th>价格</th>
          <th>咨询主题</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @doctor.name %></td>
          <td>￥<%= @doctor.price %></td>
          <td><div id="main_commit" ><%= @basic_case.main_desc %></div></td>
        </tr>
        </tr>
      </tbody>
    </table>
	<p style="height: 30px;" ></p>
        <div class="item ui toggle checkbox">
          <label for="course_public">
              <i class="fa fa-unlock-alt"> 公开病历</i>
          </label>
        </div>

	<p style="height: 10px;" ></p>
提交其他咨询: 
<select class="supershort" id="commit_faq">
	 <% @basic_cases.all.each do |ss| %>

  <option value ="<%= ss.id %>"><%= ss.main_desc %></option>
<% end %>
</select>
	<p style="height: 40px;" ></p>



    <div class="payment-form">
      <%= form_tag "/checkout" do %>
        <%= hidden_field_tag :basic_case_id, @basic_case.id %>
        <%= hidden_field_tag :doctor_id, @doctor.id %>
        <%= hidden_field_tag :basic_case_public, @basic_case.public %>
        <%= submit_tag t('checkout'), :class => "button primary large right" %>
      <% end %>
    </div>
	<p style="height: 10px;" ></p>
    <div class="payment-form" style="margin-top: 70px;">
      <%= form_tag "/checkfree" do %>
        <%= hidden_field_tag :basic_case_process, @basic_case.id %>
        <%= submit_tag '免费咨询(公开咨询)', :class => "button danger large right" %>
      <% end %>
    </div>
  </div>
</div>




