<div class="about-main">
    <%= link_to '返回咨询列表', member_url(@user.name), :class => "button primary" %>
    <p style="height: 30px;" ></p>
    <h1>一般信息</h1>
    <hr>
    <p>主诉 : <%= @basic_case.main_desc %></p>
    <p>详细描述 : <%= @basic_case.detail_desc %></p>
    <p>诊疗经过 : <%= @basic_case.treat_desc %></p>
    <p>目前情况 : <%= t(@basic_case.now_desc) %></p>
    <p style="height: 40px;" ></p>
    
    <h1>体征信息</h1>
    <hr>
    <p>体温 : <%= @basic_case.body_sign.temperature %></p>
    <p>脉搏 : <%= @basic_case.body_sign.pulse %></p>
    <p>高压 : <%= @basic_case.body_sign.high_pressure %></p>
    <p>低压 : <%= @basic_case.body_sign.low_pressure %></p>
    <p>双下肢是否肿胀 : <%= t(@basic_case.body_sign.swelling) %></p>
    <p>其他体征 : <%= t(@basic_case.body_sign.status_name.split)  %></p>
    <p style="height: 40px;" ></p>

    <% @basic_case.sick_assets.each do |sick_asset| %>
    <p style="height: 20px;" ></p>
    <h3> 附件名称 : <%= sick_asset.title %> </h3>
    <hr>
    <ul>
      <li>附件描述 : <%= sick_asset.desc %></li>
      <li>附件类型 : <%= t(sick_asset.asset_type) %></li>
      <li>查看附件 : <a href="http://<%= Settings.qiniu.bucket_domain %>/<%= sick_asset.asset %>"><%= sick_asset.filename %></a> </li>
    </ul>
<div class="download-btn">
  <%= link_to '下载咨询附件', download_sick_hist_path(:asset => sick_asset.asset),
    class: "minibutton primary" %>
</div>
     <% end %>

</div>
