  
<div class="container2" >
  <img src="/chan.jpg" height="150" width="1200" />
  <p class="center-username"><%= @user.name %>的个人空间</p>
</div>
<div class="container about">
  <div class="left-col" >
<div class="menu-container">
  <ul class="menu">
    <li><a class="button" href="#">我的咨询记录</a></li>
    <li><a class="<%= request.path == member_url(@user.name)? "active":"main" %>" href="<%=member_url(@user.name) %>">历史咨询记录</a></li>
    <li><a class="active"  href="/showmystatus">编辑中的咨询</a></li>
    <li><a class="<%= request.path == "/createmyfaq"? "active":"faq" %>" href="/createmyfaq">启动新的咨询</a></li>
    <li><a class="button" href="#">我的病历管理</a></li>
    <li><a class="<%= request.path == "/showmyinfo"? "active":"faq" %>" href="/showmyinfo">个人基本情况</a></li>
    <li><a class="<%= request.path == "/showmyhyper"? "active":"faq" %>" href="/showmyhyper">高血压史</a></li>
    <li><a class="<%= request.path == "/showmydiabetes"? "active":"faq" %>" href="/showmydiabetes">糖尿病史</a></li>
    <li><a class="<%= request.path == "/showmyhyperlipidemia"? "active":"faq" %>" href="/showmyhyperlipidemia">高脂血史</a></li>
    <li><a class="<%= request.path == "/editmyoper"? "active":"faq" %>" href="/editmyoper">重大手术及外伤史</a></li>
    <li><a class="<%= request.path == "/editmysick"? "active":"faq" %>" href="/editmysick">病历上传</a></li>
  </ul>
</div>
  </div><!--end user-info -->
    <div class="about-content">
<div id="user-show" class="container clearfix">
  <div id="user-course" >
    <ul class="main-nav">
      <li class="active" data-course-type="owned">
        <a href="#owned-courses">编辑中的咨询</a>
      </li>
    </ul>
    <div class="content owned-courses-section active clearfix">
    <table class="table table-bordered" style="width: 900px;">
      <thead>
        <tr>
          <th>咨询日期</th> <!-- Subject -->
          <th>咨询主题</th>
          <th>咨询医生</th>
          <th>咨询状态</th>
          <th>咨询类型</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @basic_cases.each do |basic_case| %>
        <tr>
          <td><%= basic_case.updated_at.strftime '%Y-%m-%d %H:%M:%S' %></td>
          <td><%= link_to basic_case.main_desc.nil? ? "未填写":basic_case.main_desc, show_basic_case_path(basic_case.user.name,basic_case) %></td>
          <td> <%= link_to (basic_case.doctor.nil? ? "无" : basic_case.doctor.name), '#' %> </td>
          <td><%= basic_case.process.nil? ? "未提交": t(basic_case.process)  %> </td>
          <td><%= basic_case.process.nil? ? "未提交": t(basic_case.process)  %> </td>
          <td><%= link_to "查看咨询", show_basic_case_path(basic_case.user.name,basic_case), :class => "course-button" %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div><!--end user-course -->

</div><!-- user-show -->
</div>
</div>
<% content_for :template_js do %>
  <script>
    var menuItems = $(".main-nav li");
    var contentItems = $(".content");

    menuItems.on("click", function(event) {

      menuItems.removeClass("active");
      $(this).addClass("active");

      contentItems.removeClass("active");

      var type = $(this).data("course-type");

      if (type == "owned") {
        $(".owned-courses-section").addClass("active");
      }else if (type == "paid") {
        $(".paid-courses-section").addClass("active");
      }else {
        $(".watched-courses-section").addClass("active");
      }
    });
    if ($(".follow-user-button").data("followed")) {
      $(".follow-user-button").css('background-color','#34CF7A');
    }else {
      $(".follow-user-button").css('background-color','#2589CC');
    }
  </script>
<% end %>
