
<% if process.blank? %>
<ul>
                                                   <li class="search_item docter_item">
                <div class="left_img_big">
                  <%= image_tag doctor.final_avatar_url %>
                </div>
                <div class="right_mun"></div>
                <div class="right_btn"> <%= link_to doctor_path(doctor), class: "button primary" do %> 医生空间 <% end %><em>|</em> 
                <div class="doc_info fl">
                <h2><%=  t(doctor.name) %></a><span><%=  t(doctor.rank) %></span> </h2>
                <div class="h_info layout">
                <p><%= t(doctor.hospital) %> <br><%=  t(doctor.room) %></p>
                </div>
                <div class="doc_sbtn">
                <ul class="fun_btn_ul layout">
	<%  if !doctor.reservations.nil?  %>
	<%  doctor.reservations.each do |reservation|  %>		
                  <li ><%= t(reservation.price_type)  %></li>
	<%  end  %>		
	<%  end  %>		
                </ul>
                </div>
                </div>
                <div class="doc_expert_in fs14 fl"> <%= doctor.main_desc %> </div>
                <div class="doc_score fl">
                  <span class="score_mun fs14"></span>
                                    <span class="dp_links fs12"></span>
                </div>
              </li>
                         </ul>
<% else %>
<ul>
                                                   <li class="search_item docter_item">
                <div class="left_img_big">
                  <%= image_tag doctor.final_avatar_url %>
                </div>
                <div class="right_mun"></div>
                <div class="right_btn"> <%= link_to doctor_commit_path(doctor), class: "button primary" do %> 医生空间 <% end %><em>|</em> 
                <div class="doc_info fl">
                <h2><%=  t(doctor.name) %></a><span><%=  t(doctor.rank) %></span> </h2>
                <div class="h_info layout">
                <p><%= t(doctor.hospital) %> <br><%=  t(doctor.room) %></p>
                </div>
                <div class="doc_sbtn">
                <ul class="fun_btn_ul layout">
	<%  if !doctor.reservations.nil?  %>
	<%  doctor.reservations.each do |reservation|  %>		
                  <li ><%= t(reservation.price_type)  %></li>
	<%  end  %>		
	<%  end  %>		
                </ul>
                </div>
                </div>
                <div class="doc_expert_in fs14 fl"> <%= doctor.main_desc %> </div>
                <div class="doc_score fl">
                  <span class="score_mun fs14"></span>
                                    <span class="dp_links fs12"></span>
                </div>
              </li>
                         </ul>
<% end %>
