<div class="header header-logged-in">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      <img src="/logo.png" id="logo1" alt="名医来啦" style="width: 60px;height: 30px;">
    </a>
    <ul class="top-nav">
      <li> <%= link_to "个人空间",  member_path(current_user.name) %></li>
      <li><a href="<%= member_path(current_user.name) %>">开始咨询</a></li>
      <li><a href="<%= member_path(current_user.name) %>">查找医生</a></li>
			<li><a href="/#"><%= t("about") %></a></li>
    </ul>
    <ul id="user-links">
      <li><%= link_to notifications_path do %>
        <span class="notification-indicator <%= 'notification-indicator-unread' if @unread_count > 0 %>"><%= @unread_count %></span>
      <% end %>
      </li>
      <li> <%= link_to current_user.name, member_path(current_user.name), :class => "name" %> </li>
      <li> <%= link_to t("logout"), logout_path, method: "delete" %></li>
    </ul>
  </div>
</div>

