<div class="header header-logged-in">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      华仁医生
    </a>
    <ul class="top-nav">
      <li> <%= link_to "合作机构", message_index_path(:sort => "star") %></li>
      <li><a href="#">服务项目</a></li>
      <li><a href="#">查找医生</a></li>
			<li><a href="/#"><%= t("about") %></a></li>
    </ul>
    <ul id="user-links">
      <li><%= link_to notifications_path do %>
        <span class="notification-indicator <%= 'notification-indicator-unread' if @unread_count > 0 %>"><%= @unread_count %></span>
      <% end %>
      </li>
      <li> <%= link_to current_user.name, member_path(current_user.name), :class => "name" %> </li>
      <li> <%= link_to t("logout"), logout_path, method: "delete" %></li>
    </ul>
  </div>
</div>

