<% if process.blank? %>
<%= link_to doctor_path(doctor), class: "course-thumb-container clearfix" do %>
  <div class="course-thumb center-course-thumb light-shadow">
    <div class="course-main">
      <%= image_tag doctor.final_avatar_url %>
      <div class="course-title">
        <%= doctor.name %>
      </div>
      <div class="course-desc">
        <%= doctor.main_desc %>
      </div>
      <div class="course-author">
	<%  if !doctor.reservations.nil?  %>
	<%  doctor.reservations.each do |reservation|  %>		
	<%= t(reservation.price_type)  %> : ￥<%= (reservation.price.nil? or reservation.price.blank?) ? 0 : reservation.price %> 元<br/> 
	<%  end  %>		
	<%  end  %>
      </div>
    </div>
  </div>
<% end %>
<% else %>
<%= link_to doctor_commit_path(doctor), class: "course-thumb-container clearfix" do %>
  <div class="course-thumb center-course-thumb light-shadow">
    <div class="course-main">
      <%= image_tag doctor.final_avatar_url %>
      <div class="course-title">
        <%= doctor.name %>
      </div>
      <div class="course-desc">
        <%= doctor.main_desc %>
      </div>
      <div class="course-author">
	<%  if !doctor.reservations.nil?  %>
	<%  doctor.reservations.each do |reservation|  %>		
	<%= t(reservation.price_type)  %> : ￥<%= (reservation.price.nil? or reservation.price.blank?) ? 0 : reservation.price %> 元<br/> 
	<%  end  %>		
	<%  end  %>
      </div>
    </div>
  </div>
<% end %>
<% end %>
