<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HRDoctor</title>
  <%= stylesheet_link_tag "application", :media => "all" %>a
   <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
   <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37482490-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

  <script type="text/javascript">
    window.I18n = <%= current_translations.to_json.html_safe %>
  </script>
  <%= csrf_meta_tags %>
</head>
<body class="chinese">
  <div id="wrapper">
    <% if current_user %>
      <%= render "shared/header_logged_in" %>
    <% else %>
      <%= render "shared/header_logged_out" %>
    <% end %>
    <div class="flash-message">
      <%= flash[:notice] %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

<!-- Footer
    ================================================== -->
    <div id="footer-push"></div><!-- hack for sticky footer -->
  </div><!-- end of wrapper - hack for sticky footer -->
  <div id="footer">
    <hr class="footer-divider">
    <div class="container">
      <dl class="footer_nav">
        <dt>关于我们</dt>
        <dd><a href="#">合作机构</a></dd>
        <dd><a href="#">联系我们</a></dd>
      </dl>
      <dl class="footer_nav">
        <dt>友情链接</dt>
        <dd><a href="#">美联医帮</a></dd>
        <dd><a href="#">春雨医生</a></dd>
        <dd><a href="#">医享网</a></dd>
        <dd><a href="#">就医160</a></dd>
      </dl>
      <dl class="footer_nav" style="display: none">
        <dt><%= t('International') %></dt>
        <dt>
        <form action="/set_locale">
          <select id="language-picker" name="locale" onchange="this.form.submit()">
            <option value="zh-CN" <%= "selected" if not cookies[:locale] == 'en' %>> Chinese </option>
            <option value="en" <%= "selected" if cookies[:locale] == 'en' %>> English</option>
          </select>
          <noscript><input type="submit" value="submit"></noscript>
        </form>
        </dt>
      </dl>
      <br>
    </div>
    <hr class="footer-divider">
    <div class="contact clearfix">
      <p class="text">Copyright ©2015 doctorhr.com, xxxx公司 All Rights Reserved</p>
    </div>
  </div>
  <!-- end of footer -->

  <%= javascript_include_tag "application" %>
  <%= yield :template_js %>
</body>
</html>
